<html>
<head>
<title> Welcome to INFY chef class </title>
</head>
<body>
<h1> Hello Everyone by scmgalaxy </h1>
<h2> My Name is <%=node['webserver']['name'] %>. You can reach me@ DevOps@rajeshkumar.xyz </h2>
